VITE_ENVIRONMENT=
VITE_AUTH0_ISSUER=
VITE_AUTH0_AUDIENCE=
VITE_AUTH0_CLIENT_ID=
VITE_BACKEND_URL=
VITE_BASE_RPC_URL=
VITE_BASE_SUBGRAPH_URL=
VITE_POLYGON_RPC_URL=
VITE_POLYGON_SUBGRAPH_URL=
VITE_GNOSIS_RPC_URL=
VITE_GNOSIS_EXPLORER_API_URL=/blockscout-api
VITE_GNOSIS_EXPLORER_API_KEY=
VITE_GNOSIS_EXPLORER_URL=https://gnosis.blockscout.com
VITE_SENTRY_HOST=https://us.sentry.io
VITE_SENTRY_API_URL=/sentry-api
VITE_SENTRY_AUTH_TOKEN=
VITE_SENTRY_ORG=
# Project slug or numeric id (Explore UI uses the numeric id)
VITE_SENTRY_PROJECT=
VITE_PROD_DOMAIN=
VITE_STAGE_DOMAIN=
