name: Publish contracts typechain package
on: 
  release:
    types: 
      - created
jobs:
  Publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    if: |
      startsWith(github.ref, 'refs/tags/@royalty-loans/contracts-typechain') &&
      !contains(github.ref, '-alpha.')

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@originalworks'

      - name: "Setup environment"
        run: npm ci
        
      - name: "Build"
        run: npx nx run contracts-typechain:build

      - name: "Publish"
        run: |
          cd libs/contracts-typechain
          sed -i 's/@royalty-loans\/contracts-typechain/@originalworks\/contracts/' package.json
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
